#page-content-wrapper
  .container-fluid
    / Mobile Menu Include
    -# include ./partials/mobilemenu.ejs
    #articleContainer.row
      / News
      = render :partial => 'feed', :collection => @feeds