#mobile-menu{

}
.navbar-inverse {
  background-color: #212121;
  border-radius: 3px!important;
}
.article{
  background-color: #EEEEEE;
  border-radius: 3px;
  margin-bottom: 5px;
}
.articleButton{
  float: right;
  padding-top: 15px;
}
.articleTitle{

}
.articleDetails{

}
.articleContent{

}