#mobile-menu{

}
.navbar-inverse {
  background-color: #212121;
  border-radius: 3px!important;
}
#articleContainer{
  margin-left: initial !important;
}
.article{
  background-color: #EEEEEE;
  border-radius: 3px;
  margin-bottom: 5px;
  padding-bottom: 15px;
}
.articleButton{
  float: right;
  padding-top: 15px;
}
.articleTitle{

}
.articleDetails{

}
.articleContent{

}

.favorite[data-status="true"]{
  color: white;
  background-color: #FFDC00;
}
.favorite[data-status="false"]:hover{
  color: white;
  background-color: #FFDC00;
}

.read[data-status="true"]:before{
  content: 'Read';
}
.read[data-status="true"]:hover:before{
  content: 'Not Read';
}

.read[data-status="false"]:before{
  content: 'Not Read';
}
.read[data-status="false"]:hover:before{
  content: 'Read';
}