#articleContainer{
  //margin-left: initial !important;
}
.article{
  background-color: #EEEEEE;
  border-radius: 3px;
  margin-bottom: 5px;
  padding-bottom: 15px;
}
.articleButton{
  float: right;
  padding-top: 15px;

  /* Button Favorite */
  .favorite{
    &[data-status="true"]{
      color: white;
      background-color: #FFDC00;
    }
    &[data-status="false"]:hover{
      color: white;
      background-color: #FFDC00;
    }
  }
  /* Button Read */
  .read{
    width: 86px;
    /* Is Read */
    &[data-status="true"]{
      &:before{
        content: 'Read';
      }
      &:hover:before{
        content: 'Not Read';
      }
    }
    /* Is Not Read */
    &[data-status="false"]{
      &:before{
        content: 'Not Read';
      }
      &:hover:before{
        content: 'Read';
      }
    }
  }
}
h2.articleTitle{
  margin-top: 10px;
}
.articleDetails{

}
.articleContent{

}
